<div class="card">
    <div class="card-header">
        <td class="float-start">
            <h2>Datos Personales</h2>
        </td>
        <td class="align-middle; float-end">
                <button (click)="actualizarDatos()" class="btn btn-edit" [disabled]="estadoboton"><i class="bi bi-pencil-square"></i></button>
        </td>
    </div>
    <div class="card-body">
        <div class="foto-perfil">
            <img src="../../../assets/img/fotoperfil.jpg" class="" alt="Foto-Perfil">
        </div>
        <div>
            <h5>Nombre y Apellido: </h5><p>{{empleado.nombre}} {{empleado.apellido}}</p>
            <h5>Email: : </h5><p>{{empleado.email}}</p>
        </div>
    </div>

</div>
