<div class="col-6 offset-3">
    <h3 class="card-header text-center my-2">Nueva Educación</h3>
    <form (ngSubmit)="onSubmit()" #educacionForm="ngForm">
        <div class="form-group registrar-experiencia my-2">
            <label class="">Imagen Logo: </label>
            <input 
            type='file'
            class="form-control"
            id = "educacionLogo" 
            (change)="readUrl($event)"
            >
            <img [src]="url">
        </div>
        <div class="form-group my-2">
            <label class="">Nombre Institución: </label>
            <input 
            type="text" 
            class="form-control"
            id = "institucion"
            [(ngModel)]="educacion.institucion"
            name="institucion"
            #institucion="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label class="">Nombre Curso: </label>
            <input 
            type="text" 
            class="form-control"
            id = "nombreCurso"
            [(ngModel)]="educacion.nombreCurso"
            name="nombreCurso"
            #nombreCurso="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label class="">Fecha Ingreso: </label>
            <input 
            type="date"
            class="form-control"
            id = "fechaIngresoCurso"
            [(ngModel)]="educacion.fechaIngresoCurso"
            name="fechaIngresoCurso"
            #fechaIngresoCurso="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label class="">Fecha Egreso: </label>
            <input 
            type="date"
            class="form-control"
            id = "fechaEgresoCurso"
            [(ngModel)]="educacion.fechaEgresoCurso"
            name="fechaEgresoCurso"
            #fechaEgresoCurso="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label class="">Descripcion 0: </label>
            <input 
            type="text"
            class="form-control"
            id = "educacionDescripcion0"
            [(ngModel)]="educacion.educacionDescripcion0"
            name="educacionDescripcion0"
            #educacionDescripcion0="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label class="">Descripcion 1: </label>
            <input 
            type="text"
            class="form-control"
            id = "educacionDescripcion1"
            [(ngModel)]="educacion.educacionDescripcion1"
            name="educacionDescripcion1"
            #educacionDescripcion1="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label class="">Descripcion 2: </label>
            <input 
            type="text"
            class="form-control"
            id = "educacionDescripcion2"
            [(ngModel)]="educacion.educacionDescripcion2"
            name="educacionDescripcion2"
            #educacionDescripcion2="ngModel"
            >
        </div>
        <div class="d-flex justify-content-center m-2 p-1">
            <button class="btn btn-success m-2">
                Guardar
            </button>
            <button class="btn btn-danger m-2" (click)="irAPortfolio()">
                Cancelar
            </button>
        </div>
        
    </form>
</div>
