<div class="col-6 offset-3">
    <h3 class="card-header text-center my-2">Actualizar datos Skill</h3>
    <form (ngSubmit)="onSubmit()" #skillForm="ngForm">
        <div class="form-group my-2">
            <label>Logo Skill: </label>
            <input 
            type="text" 
            class="form-control"
            id = "skillLogo"
            [(ngModel)]="skill.skillLogo"
            name="skillLogo"
            #skillLogo="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label>Nombre Skill: </label>
            <input 
            type="text" 
            class="form-control"
            id = "nombreSkill"
            [(ngModel)]="skill.nombreSkill"
            name="nombreSkill"
            #nombreSkill="ngModel"
            >
        </div>
        <div class="form-group my-2">
            <label>Porcentaje valor Skill: </label>
            <input 
            type="number" 
            class="form-control"
            id = "valorSkill"
            [(ngModel)]="skill.valorSkill"
            name="valorSkill"
            #valorSkill="ngModel"
            >
        </div>
        <div class="d-flex justify-content-center m-2">
            <button class="btn btn-success m-2">
                Guardar
            </button>
            <button class="btn btn-danger m-2" (click)="irAPortfolio()">
                Cancelar
            </button>
        </div>
    </form>
</div>
