<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center p-1 m-0">
        <td class="d-flex m-0 p-0">
            <i class="bi bi-briefcase-fill mx-1"></i>
            <h2 class="m-0 p-0">Experiencia Laboral</h2>
        </td>
        <td class="">
            <button type="button" class="btn btn-edit" (click)="irRegistrarExperiencia()" [disabled]="estadoboton"><i class="bi bi-plus-square"></i></button>
        </td>
    </div>

    <div class="card-body experiencia m-0 p-0">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="card m-2 p-0" *ngFor="let experiencia of experiencias" cdkDrag>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="experiencia-logo m-2 text-center" *ngIf="experiencia.logo">
                        <img [src]=createImageFromBlob(experiencia.logo) class="img-fluid" alt="{{experiencia.id}}">
                    </div>
                    <div class="m-0 p-0">
                        <div class="card-body p-1">
                            <div class="d-flex">
                                <h3 class="card-title d-flex align-items-center m-0 p-1">{{experiencia.empresa}}</h3>
                                <h5 class="card-title d-flex align-items-center m-0 p-1" style="color: grey">(
                                    {{experiencia.fechaIngreso}} / {{experiencia.fechaEgreso}} )</h5>
                            </div>
                            <h4 class="m-0 p-1">{{experiencia.cargo}}</h4>
                            <li class="mx-3 my-2" *ngIf="experiencia.descripcion0">{{experiencia.descripcion0}}</li>
                            <li class="m-3" *ngIf="experiencia.descripcion1">{{experiencia.descripcion1}}</li>
                            <li class="m-3" *ngIf="experiencia.descripcion2">{{experiencia.descripcion2}}</li>
                        </div>
                    </div>
                    <div class="d-md-flex justify-content-md-end">
                        <button class="btn btn-edit mx-2 p-1" (click)="editarExperienciaPorId(experiencia.id)"
                            [disabled]="estadoboton">
                            <i class="bi bi-pencil-square"></i>
                        </button>
        
                        <button class="btn btn-edit mx-2 p-1" (click)="eliminarExperienciaPorId(experiencia.id)"
                            [disabled]="estadoboton">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
