<nav class="navbar navbar-expand-lg bg-light mt-2">
    <div class="container-fluid">
        <ul class="nav logo-argentina-programa">
            <img src="../../../assets/img/LogoArgentinaPrograma.png" alt="Logo Argentina Programa">
        </ul>
        <ul class="nav d-flex justify-content-end">
            <li class="nav-item">
                <button type="link" class="btn btn-edit"><i class="bi bi-github"></i></button>
            </li>
            <li class="nav-item">
                <button type="link" class="btn btn-edit"><i class="bi bi-linkedin"></i></button>
            </li>
            <li>
                <button type="button" class="btn btn-edit" (click)="irALogin()"><i class="bi bi-box-arrow-in-right"></i></button>
            </li>
        </ul>
    </div>
  </nav> 
