/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.logo-argentina-programa img{
    width: 6rem;
    background: black;
    border-radius: 0.5rem;
}

.foto-perfil img{
    width: 10rem;
    border-radius: 50%;
}

.datos-contacto img {
    height: 1.8rem;
}

i {
    font-size: 1.5rem;
}

.experiencia-logo {
    width: 10vw;
}


.experiencia .card-body {
    width: 75vw;
}

.experiencia .card:hover {
    background: black;
    color: white;
    border-radius: 0.2rem;
}

.experiencia .card:hover button {
    background: white;
}

.experiencia-logo img {
    width: 8rem;
    border-radius: 0.2rem;
}

.skill .card:hover {
    background: black;
    color: white;
    border-radius: 0.2rem;
}