<div class="col-md-6 offset-md-3">
    <h3 class="text-center m-2">Actualizar datos Personales</h3>
    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
        <div class="form-group">
            <label>Nombre: </label>
            <input 
            type="text" 
            class="form-control"
            id = "nombre"
            [(ngModel)]="empleado.nombre"
            name="nombre"
            #nombre="ngModel"
            >
        </div>
        <div class="form-group">
            <label>Apellido: </label>
            <input 
            type="text" 
            class="form-control"
            id = "apellido"
            [(ngModel)]="empleado.apellido"
            name="apellido"
            #apellido="ngModel"
            >
        </div>
        <div class="form-group">
            <label>Email: </label>
            <input 
            type="email" 
            class="form-control"
            id = "email"
            [(ngModel)]="empleado.email"
            name="email"
            #email="ngModel"
            >
        </div>
        <p></p>
        <button class="btn btn-success">
            Guardar
        </button>
        <button class="btn btn-danger m-2" (click)="irAPortfolio()">
            Cancelar
        </button>
    </form>
</div>
